h1{
    text-align: center;
    color: rgb(0, 255, 34);
}
body{
    background-image:url("https://img.freepik.com/premium-photo/picture-farm-with-vegetables-sky-background_893847-2672.jpg?w=1060");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
    
.main{
    background-color: rgba(50, 50, 0, 0.5);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-left:25%;
    margin-right: 25%;
    box-shadow:black;
    
}
button{
    margin-left:35%;
    padding: 1% 10% 1% 10%;
    color:rgb(0, 0, 0);
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 255, 13);
    color: rgb(0, 0, 0);
}
#otpbutton{
    color: rgb(245, 245, 250);
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    cursor: pointer;
}